body{
	margin:0;
}
.ad1{
	background-color: rgb(229,245,244);
	height: 97.5px;
}
.ap1{
	position: absolute;
	left: 220px;
	top: 9px;
}
.ai1{
	position: absolute;
	left: 330px;
	top: 18px;
	height: 20px;
	width: 239px;
	border:2px solid rgb(46,171,142);
	border-radius:5px;
}
.ap2{
	background-color: rgb(46,171,142);
	padding:6px 11px;
	position: absolute;
	left: 569px;
	top: 18px;
	border-radius:5px;
}
.ac1{
	position: absolute;
	left: 334px;
	top: 50px;
	color: rgb(163,165,165);
	font-size: 6px;
	border-right: 1px solid rgb(163,165,165);
	padding-right: 5px;
	text-decoration:none;
}
.ac2{
	position: absolute;
	left: 395px;
	top: 50px;
	color: rgb(163,165,165);
	font-size: 5px;
	border-right: 1px solid rgb(163,165,165);
	padding-right: 5px;
	text-decoration:none;
}
.ac3{
	position: absolute;
	left: 455px;
	top: 50px;
	color: rgb(163,165,165);
	font-size: 5px;
	text-decoration:none;
}
.ad3{
		width: 0;
   	 	height: 0;
    	border-top: 7px solid cyan;
       	border-left: 5px solid transparent;
       	border-right: 5px solid transparent;
       	border-top-color: rgb(153,153,153);
       	position: absolute;
		left: 510px;
		top: 57px;
}
.ap3{
	display: inline-block;
	position: relative;
	left: 1500px;
	top: 23px;
}
.ac4{
	display: inline-block;
	position: absolute;
	left: 1510px;
	top:27px;
	font-size: 5px;
	color: rgb(119,121,121);
	margin: 0px;
}
.ac5{
	display: inline-block;
	position:absolute;
	left: 1241px;
	top:45px;
	font-size: 13px;
	color: rgb(119,121,121);
	border-right: 1px solid rgb(153,153,153);
	padding-right: 9px;
}
.ac5 a{
	text-decoration:none;
	color: rgb(243,132,94);
}
.ac6{
	display: inline-block;
	position: absolute;
	left: 1341px;
	top:45px;
	margin: 0px;
	font-size: 13px;
	color: rgb(119,121,121);
	border-right: 1px solid rgb(153,153,153);
	padding-right: 9px;
}
.ac7{
	display: inline-block;
	position: absolute;
	left: 1415px;
	top:45px;
	margin: 0px;
	font-size: 13px;
	color: rgb(119,121,121);
	border-right: 1px solid rgb(153,153,153);
	padding-right: 9px;
}
.ac8{
	display: inline-block;
	position: absolute;
	left: 1485px;
	top:45px;
	margin: 0px;
	font-size: 13px;
	color: rgb(119,121,121);
}
.bd1{
	background-color: rgb(46,171,142);
	height: 62px;
}
.bc1{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
	background-color: rgb(11,105,111);
}
.bc1:hover{
background-color: rgb(11,105,111);
}
.bc2{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
}
.bc2:hover{
background-color: rgb(11,105,111);
}
.bc3{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
}
.bc3:hover{
background-color: rgb(11,105,111);
}
.bc4{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
}
.bc4:hover{
background-color: rgb(11,105,111);
}
.bc5{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
}
.bc5:hover{
background-color: rgb(11,105,111);
}
.bc6{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin: 0px;
	position: relative;
	left: 220px;
	padding: 14px 35px;
}
.bc6:hover{
background-color: rgb(11,105,111);
}
.cd2{
	background-color: rgb(132,204,201);
	height: 466px;
	width: 140px;
	position: absolute;
	top: 233.5px;
	left: 295px;
}
.cp1{
	position: absolute;
	left:25px;
	top: 24px;
}
.cc1{
	position: absolute;
	left:41px;
	top: 20px;
	margin: 0px;
	display: inline-block;
	color: rgb(10,102,120);
	font-size: 18px;
	font-weight: bold;
}
.cd5:hover{
background-color: rgb(61,189,176);
}
.cp2{
	position: absolute;
	left:22px;
	top: 90px;
}
.cd5{
	height: 64.7px;
	border-bottom: 1px solid white;
	background-color: rgb(61,189,176);
}
.cd6{
	height: 64.7px;
	border-bottom: 1px solid white;
}
.cd7{
	height: 64.7px;
	border-bottom: 1px solid white;
}
.cd8{
	height: 64.7px;
	border-bottom: 1px solid white;
}
.cc2{
	position: absolute;
	left:41px;
	top: 85px;
	margin: 0px;
	display: inline-block;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.cd6:hover{
background-color: rgb(61,189,176);
}
.cp3{
	position: absolute;
	left:22px;
	top: 154.7px;
}
.cc3{
	position: absolute;
	left:41px;
	top: 150px;
	margin: 0px;
	display: inline-block;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.cd7:hover{
background-color: rgb(61,189,176);
}
.cp4{
	position: absolute;
	left:22px;
	top: 223px;
}
.cc4{
	position: absolute;
	left:41px;
	top: 218px;
	margin: 0px;
	display: inline-block;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.cd8:hover{
background-color: rgb(61,189,176);
}
.cd3{
	position: absolute;
	top: 233.5px;
	left: 435px;
	width: 410px;
	height: 466px;
	background-color: white;
}
.cd4{
	height: 64.7px;
	
}
.cd4:after{
	content: '';
    position: absolute;
    left: 16px;
    top: 64.7px;
    bottom: auto;
    right: auto;
    height: 2px;
    width: 380px;
    background-color: rgb(10,102,120);
}
.cc5{
	position: absolute;
	left: 13px;
	top: 26px;
	margin: 0px;
	color: rgb(10 ,102,120);
	font-weight: bold;
}
.cc6{
	position: absolute;
	left: 92px;
	top: 26px;
	margin: 0px;
	color: rgb(102,102,102);
	font-weight: bold;
}
.cc7{
	position: absolute;
	left: 170px;
	top: 26px;
	margin: 0px;
	color: rgb(102,102,102);
	font-weight: bold;
}
.cc8{
	position: absolute;
	left: 11px;
	top: 84.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci1{
	position: absolute;
	left: 11px;
	top: 105px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 380px;
	height: 29px;
}
.cc9{
	position: absolute;
	left: 11px;
	top: 160.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci2{
	position: absolute;
	left: 11px;
	top: 182px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;

}
.cc10{
	position: absolute;
	left: 200px;
	top: 160.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci3{
	position: absolute;
	left: 200px;
	top: 182px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;
}
.cc11{
	position: absolute;
	left: 11px;
	top: 233.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci4{
	position: absolute;
	left: 11px;
	top: 255px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;
}
.cc12{
	position: absolute;
	left: 200px;
	top: 233.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci5{
	position: absolute;
	left: 200px;
	top:255px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;
}
.cc13{
	position: absolute;
	left: 11px;
	top: 310.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci6{
	position: absolute;
	left: 11px;
	top: 331px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;
}
.cc14{
	position: absolute;
	left: 200px;
	top: 310.5px;
	margin: 0px;
	font-size: 10px;
	color: rgb(153,153,153);
	font-weight: bold;
}
.ci7{
	position: absolute;
	left: 200px;
	top: 331px;
	border-radius:5px;
	border:2px solid rgb(230,230,230);
	width: 150px;
	height: 28px;
}
.cc15{
	position: absolute;
	left: 270px;
	top: 388px;
	color: rgb(153,153,153);
	margin: 0px;
	color: white;
	padding: 8px 45px;
	background-color: rgb(224,124,83);
	border:1px solid rgb(224,124,83);
	border-radius:8px;
	font-size: 18px;
	font-weight: bold;
}
.dd1{
	height: 595.5px;
	width: 100%;
	background: url("../pic/banner.png");
	-moz-background-size:100% 100%; 
	background-size:100% auto; 
}
.dd2{
	position: absolute;
	top: 80.5%;
	height: 183px;
	width: 100%;
	background-color: rgb(15,112,92);
}
.dp1{
	display: block;
}
.dd2 p{
	position: relative;
	top: 50px;
	color: white;
	margin: 0px;
	text-align: center;
}